body {
  text-align: center;
  background-color: rgb(145, 128, 128);
}
.container {
  width: 600px;
  height: 270px;
  text-align: center;
  place-content: center;
  /* border: 2px solid red; */
  justify-content: center;
  margin-left: 10%;
  margin-top: 10%;
  background-color: rgb(233, 239, 237);
}
h1 {
  background-color: rgb(23, 23, 225);
}
.btn {
  background-color: rgb(65, 162, 65);
  color: white;
  border: none;
  height: 22px;
  width: 99px;
  border-radius: 2px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(40, 100, 40);
}

input[type=text],select{
width: 440px;
height: 42px;
border: 2px solid gray;
box-sizing: border-box;
display: inline-block;
margin: 8px;
border-radius: 4px;

}
